@charset "UTF-8";
/* 외부 파일방식 : 여러 HTML페이지에서 사용되는 공통디자인을 정의할 때 */
div {
	font-family: 궁서체;
	font-size: 20px;
	font-style: normal;
}

p {
	border: 1px solid #333
}

/* 외부파일방식으로 코드가 변경되었을 때 HTML에서 적요잉 되지 않으면
 1. HTML에서 소스보기
 2. CSS를 클릭하여 열고
 3. CSS에서 새로코침을 한다. */
input {
	width:300px; height:40; font-weight:bold; font-size:34px;
}